<div class="container">
    <h1>Suggestions</h1>
    
    <a routerLink="/ride" class="text-decoration-none text-dark reservation-card">
        <div class="d-flex justify-content-between align-items-center"> <!-- Updated to use Bootstrap's flex utility -->
            <div class="flex-grow-1"> <!-- Takes up remaining space -->
                <h2>Ride</h2>
                <p class="small-text">Go anywhere with Uber. Request a ride, hop in, and go.</p> <!-- Custom class added -->
                <button type="button" class="btn btn-light btn-lg rounded-pill" style="padding: 1px 20px;">Details</button>
            </div>
            <div>
                <img src="https://mobile-content.uber.com/launch-experience/ride.png" alt="Ride" class="reservation-image">
            </div>
        </div>
    </a>
    
    <a  routerLink="/ride" class="text-decoration-none text-dark reservation-card">
        <div class="d-flex justify-content-between align-items-center">
            <div class="flex-grow-1">
                <h2>Package</h2>
                <p class="small-text">Uber Connect makes same-day delivery easier than ever.</p> <!-- Custom class added -->
                <button type="button" class="btn btn-light btn-lg rounded-pill" style="padding: 1px 20px;">Details</button>
            </div>
            <div>
                <img src="https://mobile-content.uber.com/launch-experience/connect.png" alt="Package" class="reservation-image">
            </div>
        </div>
    </a>
    
    <a routerLink="/ride" class="text-decoration-none text-dark reservation-card">
        <div class="d-flex justify-content-between align-items-center">
            <div class="flex-grow-1">
                <h2>Reserve</h2>
                <p class="small-text">Reserve your ride in advance so you can relax on the day of your trip.</p> <!-- Custom class added -->
                <button type="button" class="btn btn-light btn-lg rounded-pill" style="padding: 1px 20px;">Details</button>
            </div>
            <div>
                <img src="https://mobile-content.uber.com/uber_reserve/reserve_clock.png" alt="Reserve" class="reservation-image">
            </div>
        </div>
    </a>
</div>
