<div class="container mt-4">
    <div class="row">
      <!-- Form for Pickup & Dropoff Locations, showing when isTrue is true -->
      <div class="col-md-6" *ngIf="isTrue">
        <div class="card p-3 custom-shadow" style="height: 400px;">
          <h2 class="mb-4">Get a ride</h2>
          <form (ngSubmit)="onSubmit()" style="height: 100%;">
            <div class="mb-3">
              <label for="start" class="form-label">PickUp Location:</label>
              <input type="text" id="start" class="form-control" [(ngModel)]="startPlace" name="start" placeholder="Enter pickup location" required>
            </div>
            <div class="mb-3">
              <label for="end" class="form-label">Dropoff Location:</label>
              <input type="text" id="end" class="form-control" [(ngModel)]="endPlace" name="end" placeholder="Enter dropoff location" required>
            </div>
            <button 
              type="submit" 
              class="btn btn-primary" 
              [disabled]="!startPlace || !endPlace" 
              >Get Price</button>
          </form>
          
        </div>
      </div>
  
      <!-- Form for Choosing a Ride, showing when isTrue is false -->
      <div class="col-md-6" *ngIf="!isTrue && rideRequeted" >
        <div class="card p-3 custom-shadow" style="height: 400px;">
          <h2 class="mb-4">Choose a ride</h2>
          <form  style="height: 100%;">
            <div class="mb-3 hover-effect p-1 border" (click)="rideRequetedByRider()"  style="display: flex; border: 1px solid red; align-items: center; justify-content: space-around;">
              <img alt="Premier" height="124" src="https://d1a3f4spazzrp4.cloudfront.net/car-types/haloProductImages/package_UberComfort_new_2022.png" style="margin-right: 10px;">
              <span style="margin-right: 10px;">Car</span>
              <span style="font-weight: bold; color: green;">{{fare+127}}</span> <!-- Price -->
            </div>
            <div class="mb-3 hover-effect p-3 border" (click)="rideRequetedByRider()" style="display: flex; border: 1px solid red; align-items: center; justify-content: space-around;">
              <img alt="Premier" height="124" src="https://d1a3f4spazzrp4.cloudfront.net/car-types/haloProductImages/v1.1/Uber_Moto_India1.png" style="margin-right: 10px;">
              <span style="margin-right: 10px;">Bike</span>
              <span style="font-weight: bold; color: green;">{{fare}}</span> <!-- Price -->
            </div>
            <!-- <button class="btn btn-primary">Start Ride</button> -->
          </form>
        </div>
      </div>



      <div class="col-md-6" *ngIf="!rideRequeted" >
        <div class="card p-3 custom-shadow" style="height: 400px;">
          <form  style="height: 100%;">
            <div class="mb-3 hover-effect p-1 border" style="display: flex;  align-items: center; justify-content: space-around;">
               <p>Requested</p>
            </div>
            <div class="road">
              <div class="car" ></div>
            </div>
          </form>


        </div>
        </div>
  
      <div class="col-md-6">
        <div id="map" class="map-container custom-shadow" style="height: 400px; border: 1px solid #ddd;"></div>
      </div>
    </div>
  </div>
  
 


  