 

 <div class="container_h">
    <div class="form-container">
        <h1 style="color: white;">Go anywhere with <br>Uber</h1>
        <p style="color: white;">Request a ride, hop in, and go.</p>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
          </div>
        <button class="price-button">See prices</button>
    </div>
    <div class="image-container">
        <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,h_1445,w_1157/v1684852612/assets/ba/4947c1-b862-400e-9f00-668f4926a4a2/original/Ride-with-Uber.png" alt="Uber Ride" />
    </div>
</div>










